numpy==1.16.1
scipy==0.18.1
pandas==0.24.0
matplotlib==2.0.0
seaborn==0.9.0
Pillow==5.4.1
opencv-python==4.0.0.21
h5py==2.6.0
tqdm==4.11.2
keras==2.2.4
scikit-learn==0.20.2
scikit-image==0.14.2
tensorflow==1.0.0
pillow==4.0.0
jupyter==1.0.0